body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

p {
  color: #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

a {
  color: #c8c8c8;
  text-decoration: underline;
}

a:hover {
  color: #1c1c1c;
  text-decoration: underline;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 75px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  /* border: 3px solid white; */
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  /* color: white; */
  letter-spacing: 0.05em;
  opacity: 0.8;
  
/* footer */

.footer-container {
  background-color: #6e2b6e;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 50px;
  gap: 2px;
}

.footer-left p {
  color: #cdd27e;
  font-size: medium;
  margin: 0px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footer-right a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  font-size: 55px;
  color: #cdd27e;
  text-align: center;
  line-height: 35px;
  margin: 0px 5px;
  transition: all 0.25s;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.footer-right div {
  font-size: small;
}

.author img {
  width: 3em;
  height: 3em;
}
.author {
  display: flex;
  margin-left: 2em;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  transition: all 0.25s;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #def1be;
}
.footer-left a:hover,
.footer-left a:hover p {
  transform: scale(1.08);
  color: #def1be;
}
