body {
  font-family: 'Raleway', sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

/* .splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  letter-spacing: 0.05em;
  opacity: 0.8;
} */
/* footer */

.footer-container {
  background-color: #6e2b6e;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 50px;
  gap: 2px;
  position: fixed;
  bottom: 0;
}

.footer-left p {
  color: #cdd27e;
  font-size: medium;
  margin: 0px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footer-right a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  font-size: 55px;
  color: #cdd27e;
  text-align: center;
  line-height: 35px;
  margin: 0px 5px;
  transition: all 0.25s;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.footer-right div {
  font-size: small;
}

.author img {
  width: 3em;
  height: 3em;
}
.author {
  display: flex;
  margin-left: 2em;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  transition: all 0.25s;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #def1be;
}
.footer-left a:hover,
.footer-left a:hover p {
  transform: scale(1.08);
  color: #def1be;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  /* padding-top: 1.5in; */
  /* width: 100%; */
}

.crossword {
  padding: 15px;
  width: 20%;
}

.clues {
  display: flex;
  flex-direction: row;
}

.clues > div {
  width: 400px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 20px;
}

.correct {
  color: aquamarine;
  text-decoration: line-through;
}

.nav-bar {
  background-color: #6e2b6e;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 50px;
  gap: 2px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-bar svg {
  height: 100px;
  width: 100px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 1%;
}
.card {
  flex: 0 0 24.25%;
  text-align: center;
  background-color: lightgray;
  padding: 10px 0;
}

.lobby-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px 5%;
}

.lobby-header .button {
  height: 10px;
  width: 20px;
  color: white;
}

.puzzle-logo {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 3px solid black;
  transform: rotate(10deg);
  margin: 0px auto;
  position: relative;
}

.puzzle-logo h1 {
  margin: 8px 0px 0px 0px;
  padding: 0px;
}
.puzzle-logo p {
  position: fixed;
  top: 4px;
  left: 4px;
  color: gray;
  margin: 0px;
}

#landing-page-logo svg {
  height: 300px;
  width: 300px;
  padding-left: 7%;
}

#create-form {
  background-color: #6e2b6e;
  width: 40%;
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#score-board {
  background-color: rgb(185, 202, 219);
  border-radius: 10px;
  width: 500px;
}

#score-board h4 {
  margin: 4px 0px 4px 0px;
}
