body {
  font-family: "Raleway", sans-serif;
}

label {
  display: block;
}
a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  background-color: #6e2b6e;
  color: white;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  gap: 2px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-bar svg {
  height: 100px;
  width: 100px;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 3in;
}

form div {
  margin: 1em;
  display: inline-block;
}

.footer-container {
  background-color: #6e2b6e;
  color: #cdd27e;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 15px;
  gap: 2px;
  position: fixed;
  bottom: 0;
}

.footer-left p {
  color: #cdd27e;
}

nav img {
  height: 95px;
}

.footer-left {
  display: flex;
}
.footer-right a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  font-size: 55px;
  color: #cdd27e;
  text-align: center;
  line-height: 35px;
  margin: 0px 5px;
  transition: all 0.25s;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author img {
  width: 3em;
  height: 3em;
}
.author {
  display: flex;
  margin-left: 2em;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  transition: all 0.25s;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #def1be;
}
.footer-left a:hover,
.footer-left a:hover p {
  transform: scale(1.08);
  color: #def1be;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
}

.crossword {
  padding: 15px;
  width: 20%;
}

.clues {
  display: flex;
  flex-direction: row;
}

.clues > div {
  width: 400px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 20px;
}

.correct {
  color: aquamarine;
  text-decoration: line-through;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 1%;
}
.card {
  flex: 0 0 24.25%;
  text-align: center;
  background-color: lightgray;
  padding: 10px 0;
}

.lobby-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px 5%;
}

.lobby-header .button {
  height: 10px;
  width: 20px;
  color: white;
}

.puzzle-logo {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 3px solid black;
  transform: rotate(10deg);
  margin: 0px auto;
  position: relative;
}

.puzzle-logo h1 {
  margin: 8px 0px 0px 0px;
  padding: 0px;
}
.puzzle-logo p {
  position: fixed;
  top: 4px;
  left: 4px;
  color: gray;
  margin: 0px;
}

#landing-page-logo svg {
  height: 300px;
  width: 300px;
  padding-left: 7%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#create-form {
  background-color: #6e2b6e;
  width: 40%;
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#score-board {
  background-color: rgb(185, 202, 219);
  border-radius: 10px;
  width: 500px;
}

#score-board h4 {
  margin: 4px 0px 4px 0px;
}

.score {
  display: flex;
}

.got-points {
  margin: 0px 0px 0px 10px;
  opacity: 0%;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  /* more CSS for that specific screen size

  other things to consider:
  box-sizing: border-box vs flex-box
  position: absolute (for joinOrCreateRoom-container)

  */

  /* * {
    background-color: plum;
  } */
  .nav-bar {
    justify-content: center;
    background-color: rgb(182, 86, 168);
  }
  .nav-bar img {
    height: 50px;
    width: 100px;
  }

  .nav-buttons button {
    background-color: #6e2b6e;
    height: 3em;
    width: 6em;
  }

  #create-form {
    width: 400px;
    height: 400px;
    background-image: url("https://cdn.vox-cdn.com/thumbor/75a3S9wnGOcqCyl5poDNzQpYFZs=/0x0:4288x2633/1200x800/filters:focal(1801x974:2487x1660)/cdn.vox-cdn.com/uploads/chorus_image/image/69679666/834509654.0.jpg");
  }

  .footer-container {
    background-color: rgb(182, 86, 168);
    text-align: center;
  }

  .footer-container p {
    color: #6e2b6e;
  }
}
